<div class="trainer-card">
  <div class="trainer-image" style="background-image: url('<%= image_path(trainer.picture) %>')">
  </div>
    <div class="trainer-description">
      <h2><%= trainer.last_name %>
      