<div class="trainer-card">
  <div class="trainer-image" style="background-image: url('<%= image_path(trainer.picture) %>')">
  Photo du coach
  </div>
    <div class="trainer-name">
      <h2><%= trainer.first_name + " " + trainer.last_name %>
      </h2>
      <p><%= trainer.description %>
      </p>
    </div>
</div>
      